{{! Styles }}
<link rel="stylesheet" href="/stylesheets/homepage-style.css" />

{{! content }}

<div class="feed-container">
  <div class="feed">
    <h1><a href="/">Feed</a></h1>
    <ul class="filters">
      <li><a href="/">New</a></li>
      <li><a href="/">Top</a></li>
      <li><a href="/">Random</a></li>
    </ul>
  </div>

  {{#each allPosts}}
    <a href="/posts/{{this._id}}"><div class="post-div">
        <h2>{{this.title}}</h2>
        <p>{{this.post}}</p>
      </div></a>
    <br />

  {{/each}}
</div>