{{! Styles }}
<link rel="stylesheet" href="/stylesheets/homepage-style.css" />

{{! content }}
<div class="feed-container">
  <div class="feed">
    <h1>this is a post</h1>
    <h1>this is a post</h1>
    <h1>this is a post</h1>
    <h1>this is a post</h1>
    <h1>this is a post</h1>
    <h1>this is a post</h1>
    <h1>this is a post</h1>
    <h1>this is a post</h1>
    <h1>this is a post</h1>
    <h1>this is a post</h1>
  </div>
</div>