<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>VRR</title>
    <link rel="shortcut icon" href="/images/vrrlogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/layout-style.css" />
  </head>

  <body>

    <header>
      <nav class="links-container">
        <div class="logo-search">
          <a href="/"><img
              src="/images/vrrlogo.png"
              alt="logo"
              height="50px"
              width="50px"
            /></a>
          <div class="searchbar-bg">
            <form action="">
              <input type="text" name="" placeholder="Search..." />
              <button type="submit">🔍</button>
            </form>
          </div>
        </div>

        <ui class="nav-links">
          {{#if user}}
            <li><a class="create-post-btn" href="/">Create Post</a></li>
            <li>
              <div class="dropdown">
                <a href="/profile/my-profile"><img
                    class="dropbtn"
                    src="/images/virtual-reality.png"
                    alt=""
                    height="30px"
                    width="30px"
                  /></a>
                <div class="dropdown-content">
                  <a href="/profile/my-profile">Profile</a>
                  <a href="/profile/update-profile">Edit Profile</a>
                  <a href="/auth/logout">Log Out</a>
                </div>
              </div>

            </li>
          {{else}}
            <li><a href="/auth/login">Log In</a></li>
            <li><a href="/auth/signup">Sign up</a></li>
          {{/if}}
        </ui>
      </nav>
    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>