* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 50%;
  gap: 14px 0px;
  justify-content: center;
  justify-items: stretch;
}

.post-container {
  display: grid;
  grid-template-columns: 50%;
  gap: 14px 0px;
}

.post-div {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 1em;
}

.filters {
  display: flex;
  gap: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.filters li a {
  text-decoration: none;
  color: black;
}

h3 {
  color: rgb(66, 216, 78);
}
