* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida ver", Helvetica, Arial, sans-serif;
  background: rgb(164, 218, 255);
  background: radial-gradient(
    circle,
    rgba(164, 218, 255, 1) 0%,
    rgba(148, 198, 233, 1) 100%
  );
}

nav {
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15%;
  list-style: none;
}

.nav-links li,
a {
  text-decoration: none;
  color: #fff8f8;
  font-weight: 500;
  font-size: 20px;
}

.nav-links img {
  height: 100px;
  color: #fff8f8;
}

/* authentication */

.signup-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  align-content: center;
}
.signup-form input {
  flex: 0 0 auto;
  margin: 11px;
}

.error-message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  align-content: center;
}
